/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 24px;
  cursor: pointer;
}

.navbar-toggle-button {
  display: none;
}

.navbar-links-container {
  display: flex;
  align-items: center;
}

.navbar-links-container.open {
  display: flex;
}

.navbar-link {
  margin: 0 10px;
  cursor: pointer;
}

.filter-dropdown {
  margin-left: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .navbar-toggle-button {
    display: block;
  }

  .navbar-links-container {
    display: none;
    flex-direction: column;
  }

  .navbar-links-container.open {
    display: flex;
  }

  .navbar-link {
    margin: 10px 0;
  }
}
